<div>
    <form id="productForm" method="post" class="row g-3">
        <div class="row">
            <span class="input-group-text">Nombre</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="title" />
        </div>
        <div class="row">
            <span class="input-group-text">Descripcion</span>
            <input
                type="text"
                class="form-control"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="description"
            />
        </div>
        <div class="row mb-1">
            <span class="input-group-text" id="basic-addon1">Precio</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="price" />
        </div>
        <div class="row mb-1">
            <span class="input-group-text">Imagen</span>
            <input
                type="text"
                class="form-control"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="thumbnail"
            />
        </div>
        <div class="row mb-1">
            <span class="input-group-text">codigo</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="codigo" />
        </div>
        <div class="row mb-1">
            <span class="input-group-text">Stock</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="stock" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Ingresar</button>
        </div>
    </form>

</div>